/* @font-face {
  font-family: "futura-light";
  src: url("/futura\ light\ bt.ttf");
}
@font-face {
  font-family: "futura-mid";
  src: url("/futura\ medium\ bt.ttf");
} */

.google {
  justify-content: center; 
  float: right;
  align-items: right;
  padding: 20px;
}
.home-page-content {
  /* display: flex; */
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  /* background-color: rgb(32, 32, 32); */
}

.head1 {
  display: inline-block;
  text-align: center;
}

.head {
  padding-left: 15px;
  padding-top: 15px;
  font-size: 30px;
}
.landing-page-content {
  justify-content: center;
}

.h1 {
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
}
/* .bckgrnd {
  position: relative;
} */

.image {
  position: absolute;
  width: 100%;
  left: 0; 
  right: 0;
}

.title {
  text-align: center;
  font-size: 100px;
  letter-spacing: 7px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  /* dark mode: */
  color: black;
  opacity: 1.0;
  padding-top: 250px;
}

.title1 {
  padding-top: 100px;
  text-align: center;
  font-size: 100px;
  letter-spacing: 7px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  /* dark mode: */
  color: black;
  opacity: 1.0;
}

.subtitle2 {
  padding-top: -300px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 7px;
  font-family: "futura-light", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  /* dark mode: */
  color: rgb(0, 0, 0);
}
.subtitle {
  padding-top: -300px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 7px;
  font-family: "futura-light", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  /* dark mode: */
  color: rgb(0, 0, 0);
}

button {

  background: transparent;
  border: none !important;
}​

 /*.image{
    background-image: url("https://i.ibb.co/984zbFh/output-onlinepngtools.png");
    background-repeat: no-repeat;
    justify-content: center;
    /* border-radius: 200px;
    margin-top: 20px;
    margin-bottom: 45px;
 */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 15px;
  height: 50px;
  /* dark mode: */
  padding-bottom: 50%;
}

/* cooler error message:
.error-message{
    padding-top:15px;
    color: rgb(238, 83, 83);
} */

#random {
  /* background-color: rgb(218, 195, 255); */
  margin: 7px;
  font-family: "Montserrat", sans-serif;
  /* dark mode: */
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(240, 248, 255, 0);
}

#random:hover {
  cursor: pointer;
  /* background-color: rgb(165, 109, 253); */
  /* dark mode: */
  background-color: rgb(145, 145, 145);
}
